@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
body {
  background-color: #f0f0f0;
  /* background: linear-gradient(45deg, #9cecfb, #65c7f7, #0052d4); */
  /* background-size: 200% 200%; */
  /* animation: gradient 10s ease infinite; */
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.slash-menu-item:hover,
.slash-menu-item.selected {
  background-color: lightgray;
}
